<div class="row">
	<div class="col-lg-6">
		<h4>¿Qué es?</h4>
		<p>Herramienta para encontrar fragmentos calcificados en Destiny. Encuentra 45 de los 50 fragmentos
			para comenzar la aventura del arma <a target="_blank" class="external-link" href="https://www.bungie.net/es/Armory/Detail?type=item&item=3688594189&itemname=Toque%20de%20Maldad"><strong>Toque de Maldad</strong></a>.
			Con 50 obtienes un shader de Eris.
		</p>
		<h4>¿Quién eres?</h4>
		<p>
			<a class="external-link" target="_blank" href="https://www.bungie.net/en/Profile/254/813899">lizardmamba</a>.
			O <a class="external-link" target="_blank" href="http://www.jrsanjuan.com">jrsanjuan</a> en la vida real.
			<a class="external-link" target="_blank" href="http://twitter.com/josh_sanjuan">@josh_sanjuan</a>.
		</p>
		<p>¿Te ha servido de ayuda? Invítame a una cerveza.
			<a class="external-link" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FJ72LKWRLF6JL">Donar</a>.
		</p>
	</div>

	<div class="col-lg-6">
		<h4>¿Cómo lo has hecho?</h4>
		<p>Usando la API de Bungie. Busco tus cartas de Grimorio y en ellas las de tus fragmentos  calcificados.
			Puedes encontrar más información en el <a class="external-link" target="_blank" href="https://www.bungie.net/en/Clan/Forum/39966">foro oficial</a>.
		</p>
		<p>Solamente pueden buscarse por cuenta, esto es, si coges un fragmento con tu cazador y otro con tu titán, esta herramienta te dirá que tienes 2/50. Pero cada personaje tendrá 1/50. Bungie no proporciona manera de dividirlo.</p>
		</p>
	</div>

</div>